annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
fastapi==0.135.3
graphene==3.4.3
graphql-core==3.2.11
graphql-relay==3.2.0
idna==3.11
pydantic==2.13.0
pydantic-core==2.46.0
python-dateutil==2.9.0.post0
six==1.17.0
starlette==1.0.0
starlette-graphene3==0.6.0
typing-extensions==4.15.0
typing-inspection==0.4.2
unicorn==2.1.4
